*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	list-style: none;
}

body{
	min-height: 100vh;
	/* background-color: white; */
}
.about-container{
	width: 100vw;
	height: auto;
	background-color: #5f5151;
	position: relative;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 10rem;
	padding-bottom: 8rem;
	align-items: center;
	justify-content: center;
}
.about-title{
	font-family:"Sacramento", sans-serif;
	font-size: 5rem;
	font-weight: 700;
	color:#faf5f5;
	margin-bottom: 5rem;
	text-align: center;
}
.section-title{
	font-family:"Sacramento", sans-serif;
	font-size: 5rem;
	font-weight: 700;
	color: #5f5151;
	padding-top: 12rem;
	margin-bottom: 5rem;
	text-align: center;
}
.about-text{
	width: 60vw;
	height: auto;
	font-family: "CodePro", sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	color:#faf5f5;
	margin-bottom: 2rem;
	text-align: justify;
	/* animation: fade-bottom 0.3s ease-in-out forwards;
	animation-timeline: view(70% 5%) ; */
}
.autoText{
	animation: fade-bottom 5s ease-in-out forwards;
	animation-timeline: view(70% 5%);
	transition: 0.2s ease-in-out;
}

@keyframes fade-bottom {
	0% { opacity: 0; transform: translateY(80px); }
	100% { opacity: 1; transform: translateY(0); }
} 

.autoShow{
	animation: auto-show-item 8s ease-in-out forwards;
	animation-timeline: view(70% 5%);
	transition: 0.2s ease-in-out;
}
@keyframes auto-show-item {
	from{
		opacity: 0;
		transform: translateY(50px) scale(0.5);
	}to{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
.not-easy{
	width: 100vw;
	background-color: #978a8a;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 10rem ;
	padding-bottom: 12rem;
	align-items: center;
	justify-content: center;

}
.about-last-text{
	max-width: 60vw;
	width: 0;
	display: inline-block;
	font-family: "editorialOld", sans-serif;
	font-size: 3rem;
	font-weight: 100;
	color: #4f4343;
	text-align: justify;
	white-space: nowrap;
	overflow: hidden;
}

.autoLastText{
	/* animation: typing 0.6s steps(10, end) forwards; */
	animation: typing 5s steps(10, end) forwards;
	animation-timeline: view(80% 2%);
	transition: 0.2s ease-in-out;
}
@keyframes typing {
	from{width:0; opacity: 0; transform: translateY(10px);}
	to{width: 100%; opacity: 1; transform: translateY(0);}
}

/* Responsive design */

@media(max-width: 1280px){
.about-last-text{
	max-width: 70vw;
}
}

@media(max-width: 1025px){
.about-container{
	padding-top: 8rem;
	padding-bottom: 6rem;
}
.about-title{
	font-size: 4rem;
	margin-bottom: 3rem;
}
.section-title{
	font-size: 4rem;
	padding-top: 10rem;
	margin-bottom: 3rem;
	text-align: center;
}
.about-text{
	width: 80vw;
	font-size: 1rem;
	margin-bottom: 2rem;
}
.not-easy{
	gap: 1rem;
	padding-top: 8rem ;
	padding-bottom: 10rem;
}
.about-last-text{
	max-width: 85vw;
	font-size: 3rem;
}
.autoLastText{
	animation: typing 2s steps(10, end) forwards;
}
}

@media(max-width: 769px){
.about-container{
	padding-top: 8rem;
	padding-bottom: 6rem;
}
.about-title{
	font-size: 4rem;
	margin-bottom: 3rem;
}
.section-title{
	font-size: 4rem;
	padding-top: 10rem;
	margin-bottom: 3rem;
	text-align: center;
}
.about-text{
	width: 85vw;
	font-size: 1rem;
	margin-bottom: 2rem;
}
.not-easy{
	gap: 1rem;
	padding-top: 8rem ;
	padding-bottom: 10rem;
}
.about-last-text{
	display: flex;
	justify-content: center;
	max-width: 90vw;
	font-size: 2.2rem;
}
.autoLastText{
	animation: typing 2s steps(10, end) forwards;
}
}

@media(max-width: 480px){
.about-container{
	padding-top: 8rem;
	padding-bottom: 6rem;
}
.about-title{
	font-size: 3rem;
	margin-bottom: 3rem;
}
.section-title{
	font-size: 3rem;
	font-weight: 700;
	padding-top: 10rem;
	margin-bottom: 3rem;
	text-align: center;
}
.about-text{
	width: 85vw;
	font-size: 0.9rem;
	margin-bottom: 2rem;
}
.not-easy{
	gap: 0.5rem;
	padding-top: 8rem ;
	padding-bottom: 10rem;
}
.about-last-text{
	max-width: 90vw;
	font-size: 1.5rem;
}
.autoLastText{
	animation: typing 2s steps(10, end) forwards;
}
}

@media(max-width: 376px){
.about-container{
	padding-top: 8rem;
	padding-bottom: 6rem;
}
.about-title{
	font-size: 2.5rem;
	margin-bottom: 3rem;
}
.section-title{
	font-size: 2.5rem;
	font-weight: 700;
	padding-top: 10rem;
	margin-bottom: 3rem;
	text-align: center;
}
.about-text{
	width: 85vw;
	font-size: 0.8rem;
	margin-bottom: 2rem;
}
.not-easy{
	gap: 0.5rem;
	padding-top: 8rem ;
	padding-bottom: 10rem;
}
.about-last-text{
	max-width: 92vw;
	font-size: 1.4rem;
}
.autoLastText{
	animation: typing 2s steps(10, end) forwards;
}
}