.contact-container{
	width: 100vw;
	height: auto;
	background-color: #706565;
	position: relative;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
	align-items: center;
	justify-content: center;
}
.contact-title{
	font-family:"Sacramento", sans-serif;
	font-size: 5rem;
	font-weight: 700;
	color:#4f4343;
	margin-bottom: 1.5rem;
	text-align: center;
}
.autoHello{
	animation: auto-hello 8s ease-in-out infinite;
}
@keyframes auto-hello{
	0%{
		transform: rotate(0deg);
	}
	35%{ 
		transform: rotate(30deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
.contact-info{
	width: 85vw;
	display: flex;
	flex-direction: row;
	padding-top: 0;
}
.info-left{
	margin-top: -2rem;
	display: flex;
	flex: 1;
	justify-content: center;
}
.info-right{
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 2.5rem;
	padding-top: 3rem;
	align-items: center;
	justify-items: center;
}
.bearpaw{
	margin-top: 1rem;
	width: 25vw;
	aspect-ratio: 100%;
	height: auto;
	cursor:grabbing;
}
.info-right p{
	font-family: "editorialOld", sans-serif;
	font-weight: 200;
	font-size: 1.8rem;
	color: #4f4343;
	text-align: center;
	padding-bottom: 3rem;
	animation: text-fade 25s ease-in-out forwards;
	animation-timeline: view(70% 5%);
	transition-delay: 2s;
}
.info-right input{
	width:30vw;
	height: 6vh;
	border-radius: 1rem;
	text-decoration: none;
	border: none;
	text-wrap: nowrap;
	text-align: center;
	cursor: grabbing;
}
.input input::placeholder{
	font-family: "CodePro", sans-serif;
	font-size: 1.2rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	background-color: #9E9191;
	color:white;
	cursor: pointer;
	font-family: "CodePro", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-wrap: nowrap;
	cursor: grabbing;
}
.btn2:hover{
	background-color: white;
	color:#9E9191;
	border: 2px solid #9E9191;
	transform: 2s ease-in-out infinite;
	cursor: grabbing;
}

/*Responsive design*/

@media(max-width: 1280px){
.info-right input{
	height: 2.5rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
}

@media(max-width: 1025px){
.contact-container{
	gap: 2rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.contact-title{
	font-size: 4rem;
	margin-bottom: 1.2rem;
}
.contact-info{
	display: flex;
	flex-direction: row;
	width: 90vw;
}
.info-left{
	margin-top: -3rem;
}
.info-right{
	gap: 2rem;
	padding-top: 1rem;
}
.bearpaw{
	margin-top: 0.8rem;
	width: 30vw;
}
.info-right p{
	font-size: 1.5rem;
	padding-bottom: 1rem;
} 
.info-right input{
	height: 2rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
.input input::placeholder{
	font-size: 1rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
}

@media(max-width: 769px){
.contact-container{
	gap: 2rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.contact-title{
	font-size: 4rem;
	margin-bottom: 1.2rem;
}
.contact-info{
	display: flex;
	flex-direction: column;
	width: 92vw;
}
.info-left{
	margin-top: -2rem;
}
.info-right{
	gap: 2rem;
	padding-top: 1rem;
}
.bearpaw{
	margin-top: 0.8rem;
	width: 35vw;
}
.info-right p{
	font-size: 1.3rem;
	padding-bottom: 1rem;
}
.info-right input{
	width:40vw;
	height: 2rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
.input input::placeholder{
	font-size: 1rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
}

@media(max-width: 480px){
.contact-container{
	gap: 2rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.contact-title{
	font-size: 3rem;
	margin-bottom: 1.2rem;
}
.contact-info{
	display: flex;
	flex-direction: column;
	width: 92vw;
}
.info-left{
	margin-top: -2rem;
}
.info-right{
	gap: 2rem;
	padding-top: 1rem;
}
.bearpaw{
	margin-top: 0.8rem;
	width: 35vw;
}
.info-right p{
	font-size: 14px;
	padding-bottom: 1rem;
}
.info-right input{
	width:40vw;
	height: 3vh;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
.input input::placeholder{
	font-size: 0.6rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.7rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
}

@media(max-width: 376px){
.contact-container{
	gap: 2rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.contact-title{
	font-size: 2.5rem;
	margin-bottom: 1.2rem;
}
.contact-info{
	display: flex;
	flex-direction: column;
	width: 92vw;
}
.info-left{
	margin-top: -2rem;
}
.info-right{
	gap: 2rem;
	padding-top: 1rem;
}
.bearpaw{
	margin-top: 0.8rem;
	width: 35vw;
}
.info-right p{
	font-size: 14px;
	padding-bottom: 1rem;
}
.info-right input{
	width:40vw;
	height: 3vh;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
.input input::placeholder{
	font-size: 0.6rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.2rem 0.6rem;
	font-size: 0.7rem;
	animation-timeline: view(70% 5%);
	transition-delay: 3s;
}
}