.contact-container{
	width: 100vw;
	height: auto;
	background-color: #706565;
	position: relative;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
	align-items: center;
	justify-content: center;
}
.contact-title{
	font-family:"Sacramento", sans-serif;
	font-size: 5rem;
	font-weight: 700;
	color:#4f4343;
	margin-bottom: 1.5rem;
	text-align: center;
}
.autoHello{
	animation: auto-hello 8s ease-in-out infinite;
}
@keyframes auto-hello{
	0%{
		transform: rotate(0deg);
	}
	35%{ 
		transform: rotate(30deg);
	}
	750%{
		transform: rotate(-60deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
.contact-info{
	width: 95vw;
	display: flex;
	flex-direction: row;
	padding-top: 0;
}
.info-left{
	margin-top: -2rem;
	display: flex;
	flex: 1;
	justify-content: center;
}
.info-right{
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 2.5rem;
	padding-top: 3rem;
	align-items: center;
	justify-items: center;
}
.bearpaw{
	margin-top: 1rem;
	width: 25vw;
	aspect-ratio: 100%;
	height: auto;
	cursor:grabbing;
}
.info-right p{
	font-family: "editorialOld", sans-serif;
	font-weight: 200;
	font-size: 2rem;
	color: #4f4343;
	text-align: center;
	padding-bottom: 3rem;
	animation: text-fade 0.2s ease-in-out forwards;
	animation-timeline: view(70% 5%);
}
.info-right input{
	width:30vw;
	height: 6vh;
	border-radius: 1rem;
	text-decoration: none;
	border: none;
	text-wrap: nowrap;
	text-align: center;
	cursor: grabbing;
}
.input input::placeholder{
	font-family: "CodePro", sans-serif;
	font-size: 1.2rem;
}
.btn2{
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	background-color: #9E9191;
	color:white;
	cursor: pointer;
	font-family: "CodePro", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-wrap: nowrap;
	cursor: grabbing;
}
.btn2:hover{
	background-color: white;
	color:#9E9191;
	border: 2px solid #9E9191;
	transform: 2s ease-in-out infinite;
	cursor: grabbing;
}
