/* Montserrat */
@font-face { font-family: "Montserrat"; src: url("../Fonts/Montserrat-Thin.ttf") format("truetype"); font-weight: 100; }
@font-face { font-family: "Montserrat"; src: url("../Fonts/Montserrat-Light.ttf") format("truetype"); font-weight: 300; }
@font-face { font-family: "Montserrat"; src: url("../Fonts/Montserrat-Regular.ttf") format("truetype"); font-weight: 400; }
@font-face { font-family: "Montserrat"; src: url("../Fonts/Montserrat-Medium.ttf") format("truetype"); font-weight: 500; }
@font-face { font-family: "Montserrat"; src: url("../Fonts/Montserrat-SemiBold.ttf") format("truetype"); font-weight: 600; }

/* Sacramento */
@font-face {
	font-family: "Sacramento";
	src: 
		url("../Fonts/Sacramento-Regular.ttf") format("truetype");
		font-weight: 400;
	}

/* Source Code Pro */
@font-face {
  font-family: "codePro";
  src: url("../Fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900; 
}

/* editorialOld */
@font-face {
	font-family: "editorialOld";
	src: url("../Fonts/ppeditorialold-regular.otf") format("truetype");
	font-weight: 400;
} 
