footer{
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12rem;
	background-color: #4f4343;
	color:#faf5f5;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
footer ul{
	display: flex;
	align-items: center;
	gap: 3rem;
}
footer ul li a{
	font-family: "Sacramento", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	color:#faf5f5;
	cursor: pointer;
}
footer ul li a:hover{
	animation: text-fade 0.2s ease-in-out;

}
.copyright{
	font-family: "CodePro", sans-serif;
	font-weight: 300;
	color: #978a8a;
	font-size: 1rem;
}

/*Responsive design*/

@media(max-width: 1025px){
footer{
	height: 10rem;
	gap: 0.8rem;
}
footer ul{
	gap: 1.8rem;
}
footer ul li a{
	font-size: 1.4rem;
}
.copyright{
	font-size: 1rem;
}
}

@media(max-width: 769px){
footer{
	height: 10rem;
	gap: 0.8rem;
}
footer ul{
	gap: 1.8rem;
}
footer ul li a{
	font-size: 1.4rem;
}
.copyright{
	font-size: 1rem;
}
}

@media(max-width: 480px){
footer{
	height: 8rem;
	gap: 0.8rem;
}
footer ul{
	gap: 1.5rem;
}
footer ul li a{
	font-size: 1rem;
}
.copyright{
	font-size: 0.8rem;
}
}

@media(max-width: 376px){
footer{
	gap: 0.8rem;
}
footer ul{
	gap: 1.5rem;
}
footer ul li a{
	font-size: 1rem;
}
.copyright{
	font-size: 0.8rem;
}
}