*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	height: 100vh;
	background-color: white;
}
.intro{
		position: relative;
		min-height:100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; 
		transition: opacity 1s ease;
		overflow: hidden;
		cursor:grab;
}
.intro::after{
	content:"";
	position: absolute;
	inset: 0;
	background: linear-gradient(
		90deg,
		white 0%,
		white 15%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: translateX(-10%);
	animation: wipe-wave 3.5s ease-in-out forwards;
}
@keyframes wipe-wave{
	from { transform: translateX(0%);}
	35%{transform: translateX(45%);}
	70%{transform: translateX(85%);}
	to { transform: translateX(100%);}
}
.good-day{
	max-width: 900px;
	width: 50vw;
}