*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	list-style: none;
}

body{
	min-height: 100vh;
	/* background-color: white; */
}
.top-container{
	width: 100vw;
	height: 100vh;
	margin-bottom: 6rem;
	position: relative;
	inset: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.name{
	font-family:"Sacramento", sans-serif;
	font-size: 7rem;
	font-weight: 900;
	color: #4f4343;
	margin-top: 5rem;
	animation: text-fade 1s ease-out forwards;	
}
.bear{
	width: 12vw;
	height: auto;
	animation: text-fade 1.1s ease-in-out forwards;
}
.hero{
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: 200;
	color:#706565; 
	animation: text-fade 1.2s ease-in-out forwards;	
}

@keyframes text-fade {
	0% { opacity: 0; transform: translateY(50px); }
	100% { opacity: 1; transform: translateY(0); }
} 

.hero2{
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: 200;
	color:#706565;
	margin-bottom: 2rem;
	animation: text-fade 1.5s ease-in-out forwards;	
}

.btns{
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	animation: text-fade 2s ease-in-out forwards;
	z-index: 2;
}
.btn{
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	background-color: #9E9191;
	color:white;
	cursor: pointer;
	font-family: "CodePro", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-wrap: nowrap;
	transition: 0.3s ease-in-out;
}
.btn:hover{
	background-color: white;
	color:#9E9191;
	border: 2px solid #9E9191;
}

/*Responsive design*/

@media(max-width: 1280px){
.top-container{
		margin-bottom: 10rem;
}
}
@media(max-width: 1025px){
.top-container{
		margin-bottom: 10rem;
}
.name{
	font-size: 6rem;
	margin-top: 10rem;
}
.bear{
	width: 15vw;
}
.hero{
	font-size: 1.8rem;
	margin-bottom: 0.3rem;
}
.hero2{
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}
.btns{
	gap: 1rem;
}
.btn{
	font-size: 1rem;
	padding: 0.5rem 1rem;
}
}

@media(max-width: 769px){
.top-container{
		margin-bottom: 4rem;
}
.name{
	font-size: 5rem;
	margin-top: 8rem;
}
.bear{
	width: 25vw;
}
.hero{
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
}
.hero2{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.btns{
	gap: 1rem;
}
.btn{
	font-size: 1rem;
	padding: 0.5rem 1rem;
}
}

@media(max-width: 480px){
.top-container{
	margin-bottom: 1rem;
}
.name{
font-size: 3.5rem;
margin-top: 8rem;
}
.bear{
width: 40vw;
}
.hero{
font-size: 1.2rem;
margin-bottom: 0.3rem;
}
.hero2{
font-size: 1.2rem;
margin-bottom: 1.5rem;
}
.btns{
gap: 0.5rem;
}
.btn{
font-size: 0.8rem;
padding: 0.4rem 0.8rem;
}
}

@media(max-width: 376px){
	.top-container{
		margin-bottom: 1rem;
}
.name{
	font-size: 3.2rem;
	margin-top: 6.5rem;
}
.bear{
	width: 38vw;
}
.hero{
	font-size: 1.1rem;
}
.hero2{
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}
.btns{
	gap: 0.5rem;
}
.btn{
	font-size: 0.7rem;
	padding: 0.3rem 0.8rem;
}
}