.projects{
	width: 100%;
	height: auto;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 8rem;
}

.recent-container{
	width: 100vw;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 20px;
}

.recent-nqjr{
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 1rem;
	overflow: hidden;
}


.recent-container .cards-parents{
border: 1px solid rgba(151, 138, 138, 0.2);
border-radius: 1rem;
background-color: #faf5f5;
overflow: hidden;
align-self: self-start;
}

.recent-container .cards h3{
	padding-bottom: 1rem;
}

.grid-container{
	width: 75vw;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 22px;
}

.grid-container .cards-parents:nth-child(3){
	grid-column: 1 / -1;
	max-width: 500px;
	justify-self: center;
	margin-bottom: 22px;
} 

.overlay .overlay-mobile{
	width: 120px;
	height: auto;
	aspect-ratio: auto;
	object-fit: contain;

}

.hive-container{	
	width: 75vw;
	/* height: 570px; */
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	gap: 1.5rem;
	margin-bottom: 1.3rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%);
}
.ro-left{
	flex: 2;
	display: flex;
	height: 100%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-right{
	flex: 1;
	display: flex;
	height: 100%;
	gap: 1.5rem;
	flex-flow: column nowrap;
}
.ro-col-top{
	flex: 1.55;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-col-bottom{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.uiux-container{	
	width: 75vw;
	min-height: 510px; 
	height: auto;
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
	margin-bottom: 4rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%) ;
}
.ui-left{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}
.ui-right{
	flex: 2;
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui1{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui2{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}

.cards{
	position: relative;
	overflow: hidden;
	transition: 2s; 
}
.cards .gifs{
	width: 100%;
	object-fit: cover;
	border-start-start-radius: 1rem;
	display: block;
	transition: opacity 0.5s ease;
}
.cards h3{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: #4f4343;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.8rem;
	padding-bottom: 1rem;
}
.cards span{
	font-family: "CodePro", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #5f5151;
}
.overlay{
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #5f5151;
	color:#faf5f5;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	/* transform: rotateY(180deg);
	transition: transform 0.2s linear; */
	z-index: 2;
}
.overlay p{
	font-family: "CodePro", sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin-left: 2rem;
	margin-right: 2rem;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}
.overlay img{
	width: 65%;
	aspect-ratio: 16/ 9;
	object-fit: cover;
	border-radius: 1rem;
	display: block;
	margin-bottom: 0.8rem;
	transition: opacity 0.5s ease;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.8rem;
	font-weight: 300;
	text-wrap: nowrap;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 3s ease-in-out;
}
.cards:hover .overlay{
	opacity: 1;
}
.cards-parents:hover .cards{
	transform: translateY(-2%); 
	transition: transform 0.8s ease-in-out;
}


/* Responsive design */

@media(max-width: 1280px){
.recent-container{	
		width: 75vw;
		height: auto;
	}
.hive-container{	
	width: 75vw;
	/* height: 440px; */
	height: auto;
}
.uiux-container{	
	width: 75vw;
	/* height: 400px; */
	height: auto;
}
}

@media(max-width: 1024px){
.projects{
	padding-bottom: 5rem;
}
.recent-container{	
	width: 80vw;
	height: auto;
	margin-bottom: 1.5rem;
}
.hive-container{	
	width: 80vw;
	/* height: 386px; */
	height: auto;
	margin-bottom: 1.5rem;
}
.uiux-container{	
	width: 80vw;
	/* height: 340px; */
	height: auto;
} 
.cards h3{
	font-weight: 700;
	font-size: 14px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}
.cards span{
	font-size: 13px;
}
.overlay{
	gap: 0.7rem;
}
.overlay p{
	font-size: 11px;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	text-wrap: wrap;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.25rem 0.7rem;
	font-size: 0.6rem;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
}

@media(max-width: 769px){
.projects{
	padding-bottom: 5rem;
}

.recent-container{	
	width: 100%;
  padding: 0 1rem;
}

.grid-container,
.recent-nqjr{
	width: 85vw;
	grid-template-columns: 1fr;
	gap: 20px;
}

.grid-container .cards-parents:nth-child(3){
	grid-column: auto;
	max-width: none;
	justify-self: stretch;
	margin-bottom: 0;
}

.hive-container{	
	width: 85vw;
	height: 100%;
	margin-top: 2rem;
	flex-direction: column;
	gap: 2rem;
}
.ro-left{
	height: 100%;
	margin-bottom: 1rem;
}
.ro-right{
	height: 100%;
	gap: 1rem;
	flex-direction: column;
}
.ro-col-top{	
	overflow: hidden;
}
.ro-col-bottom{
	margin-bottom: 0.7rem;
}
.uiux-container{	
	width: 85vw;
	height: 100%;
	flex-direction: column-reverse;
	gap: 2rem;
	margin-bottom: 6rem;
}
.ui-left{
	height: 100%;
}
.ui-right{
	width: 85vw;
	height: 100%;
	margin-bottom: 1.2rem;
}
.cards h3{
	font-weight: 700;
	font-size: 14px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}
.cards span{
	font-size: 13px;
}
.overlay p{
	font-size: 12.5px;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.uiux-container{	
	width: 85vw;
	flex-direction: column-reverse;
	gap: 2rem;
	margin-bottom: 6rem;
}
.ui-left{
	height: 100%;
}
.ui-right{
	width: 85vw;
	height: 100%;
	display: flex;
}
.cards h3{
	font-weight: 700;
	font-size: 14px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 1rem;
}
.cards span{
	font-size: 13px;
	color: #5f5151;
}
.overlay p{
	font-size: 13px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-wrap: wrap;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.7rem;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
}

@media(max-width: 480px){
.projects{
	padding-bottom: 5rem;
}
.hive-container,
.recent-nqjr{	
	width: 85vw;
	margin-top: 2rem;
	flex-direction: column;
	gap: 2rem;
}
.ro-left{
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	overflow: hidden;
}
.ro-right{
	height: 100%;
	gap: 2.8rem;
	flex-direction: column;
}
.ro-col-top{	
	overflow: hidden;
}
.ro-col-bottom{
	margin-bottom: 0rem;
}
.uiux-container{	
	width: 85vw;
	flex-direction: column-reverse;
	gap: 2rem;
	margin-bottom: 6rem;
}
.ui-left{
	height: 100%;
}
.ui-right{
	width: 85vw;
	height: 100%;
	display: flex;
}
.cards h3{
	font-weight: 700;
	font-size: 14px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 1rem;
}
.cards span{
	font-size: 13px;
	color: #5f5151;
}
.overlay p{
	font-size: 13px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-wrap: wrap;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.7rem;
}
.overlay img{
	display: none;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
}

@media(max-width: 376px){
.projects{
	padding-bottom: 5rem;
}
.hive-container,
.recent-nqjr{	
	width: 85vw;
	height: 100%;
	margin-top: 2rem;
	flex-direction: column;
	gap: 2rem;
}
.ro-left{
	height: 100%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	overflow: hidden;
}
.ro-right{
	height: 100%;
	gap: 2.5rem;
	flex-direction: column;
}
.ro-col-top{	
	overflow: hidden;
	/* margin-bottom: 32px; */
}
.ro-col-bottom{
	margin-bottom: 1rem;
}
.uiux-container{	
	width: 85vw;
	height: 100%;
	flex-direction: column-reverse;
	gap: 2rem;
	margin-bottom: 6rem;
}
.ui-left{
	height: 100%;
}
.ui-right{
	width: 85vw;
	height: 100%;
	display: flex;
}
.cards h3{
	font-weight: 700;
	font-size: 14px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 1rem;
}
.cards span{
	font-size: 13px;
}
.overlay p{
	font-size: 12.5px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-wrap: wrap;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.7rem;
}
.overlay img{
	display: none;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
}