.projects{
	width: 100%;
	height: auto;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 1.5rem; */
	padding-bottom: 8rem;
}
.hive-container{	
	width: 75vw;
	height: 98vh;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%) ;
}
.ro-left{
	flex: 2;
	height: 90%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-right{
	flex: 1;
	height: 95%;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	overflow: hidden;
}
.ro-col-top{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-col-bottom{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
	margin-bottom: 2.2rem;
}
.uiux-container{	
	width: 75vw;
	height: 75vh;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%) ;
}
.ui-left{
	flex: 1;
	height: 90%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}
.ui-right{
	flex: 2;
	width: 110%;
	height: 90%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui1{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui2{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}

.cards{
	height: 100%;
	/* padding-bottom: 1rem; */
	/* display: grid; */
	/* grid-template-rows: auto 1fr; */
	overflow: hidden;
	transition: 0.2s ease-in-out;
}
.cards:hover, 
.cards:hover h3, 
.cards:hover span,
.cards:hover p{
	transform: scale(0.98);
	background-color: #5f5151;
	color:#faf5f5;
	border-radius: 1rem;
	transition: color 0.2s ease-in-out;

}
.cards h3{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: #4f4343;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.cards span{
	font-family: "CodePro", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #5f5151;
}
.cards p{
	max-height: fit-content;
	font-family: "CodePro", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #5f5151;
	overflow: hidden;
	text-align:justify;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.cards .gifs{
	width: 100%;
	aspect-ratio:100%;
	object-fit: cover;
	border-start-start-radius: 1rem;
	display: block;
	margin-bottom: 0.8rem;
}