.projects{
	width: 100%;
	height: auto;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 8rem;
}
.hive-container{	
	width: 75vw;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%) ;
}
.ro-left{
	flex: 2;
	height: 100%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-right{
	flex: 1;
	height: 100%;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	overflow: hidden;
}
.ro-col-top{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ro-col-bottom{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
	margin-bottom: 2.2rem;
}
.uiux-container{	
	width: 75vw;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	animation: text-fade 0.2s ease-out forwards;	
	animation-timeline: view(70% 5%) ;
}
.ui-left{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}
.ui-right{
	flex: 2;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui1{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}
.ui2{
	flex: 1;
	border: 1px solid rgba(151, 138, 138, 0.2);
	border-radius: 1rem;
	background-color: #faf5f5;
	overflow: hidden;
}

.cards{
	position: relative;
	padding-bottom: 1rem;
	overflow: hidden;
	transition: 0.8s ease;
}
.cards .gifs{
	width: 100%;
	aspect-ratio:100%;
	object-fit: cover;
	border-start-start-radius: 1rem;
	display: block;
	margin-bottom: 0.8rem;
	transition: opacity 0.5s ease;
}

.cards h3{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: #4f4343;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.cards span{
	font-family: "CodePro", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #5f5151;
}
.overlay{
	opacity: 0;
	transition: opacity 2s ease;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	background-color: #5f5151;
	color:#faf5f5;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	transform: rotateY(180deg);
}
.overlay p{
	font-family: "CodePro", sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding: 1.5rem;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}
.overlay img{
	width: 65%;
	aspect-ratio: 16/ 9;
	object-fit: cover;
	border-radius: 1rem;
	display: block;
	margin-bottom: 0.8rem;
	transition: opacity 0.5s ease;
}
.overlay a{
	border-radius: 3rem;
	padding: 0.3rem 0.8rem;
	font-size: 0.8rem;
	font-weight: 300;
	text-wrap: nowrap;
	transition: 0.3s ease-in-out;
}
.cards:hover .gifs,
.cards:hover h3,
.cards:hover span{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.cards:hover .overlay{
	opacity: 1;
}
.cards:hover{
	transform: rotateY(180deg);
	transition: transform 0.8s ease;
}
