*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	margin: auto 0;
	
}
.top{
	width: 100%;
	height: auto;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mobile{
	width: 35vw;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 2.5rem;
}
.img-container{
	width: 100%;
	height: auto;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-container img{
	display: flex;
	align-items: center;
	justify-content: center;
}
.img-container img{
	width: 100%;
	object-fit: fill;
	display: block;
}
