*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;
	min-height: 100vh;
	width: 100 vw;
	align-items: center;
	justify-items: center;
	margin: auto 0;
	
}
.top{
	width: 90%;
	height: auto;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-items: center;
}
.img-container{
	width: 90%;
	height: auto;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.mobile{
	width: 35vh;
	height: auto;
	background-color: white;
	display: flex;
	border-radius: 2.5rem;
	align-items: center;
	justify-items: center;
}
.img-container img{
	width: 100%;
	aspect-ratio:100%;
	object-fit: fill;
	display: block;
}
